
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}

body{
  background-color: rgb(31, 30, 30);
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.home-login-page-logo{
  width: 50px;
}
.home-login-page{
  background-color: rgb(52, 50, 50);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 10px;
  max-width: 90%;
}
.home-text-field{
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  color: black;
}
.btn{
  font-size: 1.2rem;
  width: 80px;
  color: black;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  outline: none;
  border: none;
}
.btn:hover{
  background-color: rgb(24, 143, 25);
}
.join-room-btn{
  margin-top: 10px;
  margin-left: auto;
  background-color: rgb(39, 236, 42);
}
.home-generate-id{
  margin-top: 10px;
}
.home-a-tag{
  color:  rgb(32, 182, 35);
  text-decoration: none;
  border-bottom: 1px rgb(23, 157, 43) solid;
}

footer h4{
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}









/* Editor page code */
.editor-container{
  display: grid;
  grid-template-columns: 200px 1fr;
}
.editor-left-side{
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh);
  background-color: rgb(66, 65, 65);
}
.editor-client-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  flex-direction: column;
}

.editor-left-upper-side{
  
}

.editor-logo{
  padding-bottom: 10px;
  width: 50px;
}

.editor-left-bottom-side{
  display: flex;
  flex-direction: column;
}
.copy-btn, .leave-btn{
  font-size: 1rem;
  background-color: rgb(39, 236, 42);
  width: 100%;
  margin-right: 5px;
  margin-top: 8px;
}
.CodeMirror{
      font-size: 20px;
      min-height: calc(100vh);
      line-height: 1.6;
      padding-top: 20px;
}